<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <title>To Do List V3</title>
</head>
<body>
    <div>
        <h1><%= ejsDayDateMonth %> </h1>
    </div>
    <div class="box">
            <% for( let i = 0; i < ejsItemsList.length; i++ ) { %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= ejsItemsList[i].name; %></p>
                </div>
            <% } %>

            <form action="/" method="post" autocomplete="off">
                <input type="text" name="newItem" class="border-input" placeholder="Add new item...">
                <button type="submit">+</button>
            </form>
    </div>
    
</body>
</html>